<!--
  Generated template for the CompanyDetailPayedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="secondary">
        <ion-title *ngIf="company">Kredietrapport {{company.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-label text-wrap>{{log}}</ion-label>
    <!-- <button ion-button full (click)="buyCreditReport(company)" color="primary">Koop Kredietrapport</button> -->
    <ion-card>
        <button ion-button full outline solid icon-start color="secondary" (click)="buyPaylexIrisk()"><ion-icon name="analytics"></ion-icon>Paylex iRisk</button>
        <ion-grid>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="safe"></ion-icon>
                </ion-col>
                <ion-col>
                    Screening van bedrijven met de hoogste nauwkeurigheid
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="safe"></ion-icon>
                </ion-col>
                <ion-col>
                    Real-time monitoring
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="safe"></ion-icon>
                </ion-col>
                <ion-col>
                    Updates bij wijziging in het kredietadvies
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="safe"></ion-icon>
                </ion-col>
                <ion-col>
                    Volledig aanpasbaar naar uw wens
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="safe"></ion-icon>
                </ion-col>
                <ion-col>
                    24/7 beschikbaar
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card>
        <button ion-button full outline solid icon-start color="safe" (click)="buyCreditReport(company)"><ion-icon name="stats"></ion-icon>Eenmalig kredietrapport</button>
        <ion-grid>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="safe"></ion-icon>
                </ion-col>
                <ion-col>
                    Inhoudelijke bedrijfsinformatie
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="safe"></ion-icon>
                </ion-col>
                <ion-col>
                    Inzicht in de (historische) bestuurder(s)
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="safe"></ion-icon>
                </ion-col>
                <ion-col>
                    Jaarrekeningen, financiële ratio's
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="caution"></ion-icon>
                </ion-col>
                <ion-col>
                    Kredietadvies en kans op faillissement
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="caution"></ion-icon>
                </ion-col>
                <ion-col>
                    Betaalervaringen
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card>
        <button ion-button full solid outline icon-start color="third"><ion-icon name="document"></ion-icon>Basisrapport</button>
        <ion-grid>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="checkmark-circle" color="safe"></ion-icon>
                </ion-col>
                <ion-col>
                    Algemene bedrijfsinformatie
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="add-circle" color="caution"></ion-icon>
                </ion-col>
                <ion-col>
                    Directie en nevenfuncties
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="remove-circle" color="danger"></ion-icon>
                </ion-col>
                <ion-col>
                    Financiële gegevens
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-2 text-center>
                    <ion-icon name="remove-circle" color="danger"></ion-icon>
                </ion-col>
                <ion-col>
                    Betaalervaringen
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>
</ion-content>