<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons left>
            <button ion-button color="superlight" (click)="cancelFilter()">Cancel</button>
        </ion-buttons>
        <ion-title text-center>Branche</ion-title>
        <ion-buttons right>
            <button ion-button color="superlight" (click)="submitFilter()">Submit</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab right bottom *ngIf="isFiltered()">
        <button ion-fab color="secondary" (click)="removeFilters()"><ion-icon name="trash"></ion-icon></button>
    </ion-fab>
    <ion-list>
        <ion-item *ngFor="let branche of branches">
            <ion-label>{{branche.name}}</ion-label>
            <ion-checkbox [(ngModel)]="branche.selected"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>