<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Bedrijfsinformatie</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col col-6>
            <span>KvK-Nummer</span>
        </ion-col>
        <ion-col col-6 text-right>
            <span *ngIf="report.entity.company_registration_number !== null; else novalue"><b>{{report.entity.company_registration_number}}</b></span>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-6>
            <span>Bedrijfsnaam</span>
        </ion-col>
        <ion-col col-6 text-right text-wrap>
            <span><b>{{report.entity.registered_company_name}}</b></span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-4>
            <span>Adres</span>
        </ion-col>
        <ion-col col-8 text-right text-wrap>
            <span class="withnewlines"><b>{{addressString(report.entity.establishments[0].address)}}</b></span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <span>Telefoonnummer</span>
        </ion-col>
        <ion-col col-6 text-right>
            <span *ngIf="report.entity.establishments[0].address.telephone !== null; else novalue"><b>{{report.entity.establishments[0].address.telephone}}</b></span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <span>Rechtsvorm</span>
        </ion-col>
        <ion-col col-6 text-right text-wrap>
            <span><b>{{report.entity.legal_form}}</b></span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <span>RSIN-nummer</span>
        </ion-col>
        <ion-col col-6 text-right text-wrap>
            <span *ngIf="report.entity.establishments[0].rsin !== null; else novalue"><b>{{report.entity.establishments[0].rsin}}</b></span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <span>Vestigingsnummer</span>
        </ion-col>
        <ion-col col-6 text-right text-wrap>
            <span><b>{{report.entity.establishments[0].company_registration_sub_number}}</b></span>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <span>Datum vestiging</span>
        </ion-col>
        <ion-col col-6 text-right text-wrap>
            <span><b>{{DateString(report.entity.company_registration_date)}}</b></span>
        </ion-col>
    </ion-row>
</ion-content>

<ng-template #novalue>-</ng-template>