<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons left>
            <ion-button color="superlight" (click)="cancelFilter()">Cancel</ion-button>
        </ion-buttons>
        <ion-title text-center>{{filter.name}}</ion-title>
        <ion-buttons right>
            <ion-button color="superlight" (click)="submitFilter()">Submit</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab right bottom *ngIf="isFiltered()">
        <ion-button ion-fab color="secondary" (click)="removeFilters()">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
    </ion-fab>
    <ion-list-header>Selecteer de gewenste opties</ion-list-header>
    <!-- <ion-label>{{alphascrolloptions[0].key}}</ion-label> -->
    <!-- <ion-list>
        <ion-virtual-scroll [items]="filter.options">
            <ion-item *virtualItem="let option">
                <ion-label>{{option.name}}</ion-label>
                <ion-checkbox [(ngModel)]="option.selected"></ion-checkbox>
            </ion-item>
        </ion-virtual-scroll>
    </ion-list> -->
    <!-- <ion-list>
        <ion-virtual-scroll [items]="alphascrolloptions">
            <ion-item *virtualItem="let item">
                <ion-label>{{item.key}}</ion-label>
                <ion-checkbox [(ngModel)]="option.selected"></ion-checkbox>
            </ion-item>
        </ion-virtual-scroll>
    </ion-list> -->

    <ion-list>
        <ion-virtual-scroll [items]="alphascrollelements">
            <div *virtualItem="let option">
                <ion-item-divider color="secondary" *ngIf="option.type == 'divider'">
                    <ion-label>
                        {{option.name}}
                    </ion-label>
                </ion-item-divider>
                <ion-item *ngIf="option.type == 'element'">
                    <ion-label>{{option.name}}</ion-label>
                    <ion-checkbox [(ngModel)]="option.selected"></ion-checkbox>
                </ion-item>
            </div>
        </ion-virtual-scroll>

    </ion-list>
</ion-content>