<ion-header>
    <ion-searchbar #searchbar (ionInput)="onInput($event)" [(ngModel)]="filtertext" [showCancelButton]="true" onchange="">
    </ion-searchbar>
</ion-header>
<ion-content><s></s>
    <ion-list>
        <ion-list-header class="listheadercustom">Bedrijven in portfolio</ion-list-header>
        <portfolio-company-item *ngFor="let company of companies" [company]="company"></portfolio-company-item>
    </ion-list>
</ion-content>