@-ms-viewport {
    height: device-height;
}

#searchResult {
    background: white;
    position: absolute;
    z-index: 3;
    //max-height: 50vh;
    width: 100%;
    top: 0;
    overflow-y: scroll;
}

#dashboardcontent {}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(119, 119, 119, 0.589);
}

.companyamount {
    min-height: 0rem !important;
    .label {
        margin: 0px !important;
    }
}

.companyamount {
    min-height: 0rem !important;
    margin: 0px !important;
}

// ion-toolbar{
//     overflow-x: scroll !important;
//     overflow-y: hidden !important;
//     white-space: nowrap !important;
//     display: block !important;
//     ion-button {
//         display: inline-block !important;
//     }
// }
#filterbar1,
#filterbar2 {
    background: white;
    &::-webkit-scrollbar {
        height: 0;
        width: 0;
        display: none;
    }
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    ion-button {
        display: inline-block;
    }
}

// ion-toolbar.scrollable-segments {
//     overflow-x: scroll !important;
//     overflow-y: hidden !important;
//     white-space: nowrap !important;
//     display: block !important;
//     // &::-webkit-scrollbar {
//     //     height: 0;
//     //     width: 0;
//     //     display: none;
//     // }
//     .toolbar-container {
//         overflow-x: scroll !important;
//         overflow-y: hidden !important;
//         white-space: nowrap !important;
//         display: block !important;
//     }
//     // overflow: scroll;
//     // white-space: nowrap;
//     // margin: 0px 0px 0px 0px;
//     // min-height: 0px;
//     // .toolbar-background {
//     //     background: transparent;
//     // }
//     ion-button {
//         display: inline-block;
//     }
// }
.company-item {
    .label {
        margin: 4px 4px 4px 4px;
    }
}