<ion-header color="primary">
    <ion-toolbar no-border-bottom color="primary">
        <ion-searchbar #searchbar (ionInput)="onInput($event)" [(ngModel)]="filtertext">
        </ion-searchbar>
        <ion-buttons slot="end">
            <ion-button icon-flag (click)="goToFullFilters()">
                filters
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div no-border id="filterbar1" *ngIf="!switch">
    <ion-button color="primary" round small *ngIf="filtered" (click)="removeFilters()">
        <p>wissen</p>
    </ion-button>
    <ion-button color="primary" *ngFor="let filter of filterHolder.filters" round small [fill]="filter.isActive() ? 'solid' : 'outline'" (click)="goToFilter(filter)">
        <p>{{filter.name}}</p>
        <p *ngIf="filter.isActive() && (filter.name !== 'Land' || !singleCountry) "> ({{filter.amountActive()}})</p>
        <span *ngIf="singleCountry && filter.name === 'Land'" [class]="selectedCountryIcon()"></span>
    </ion-button>
</div>
<div no-border id="filterbar2" *ngIf="switch">
    <ion-button color="primary" round small *ngIf="filtered" (click)="removeFilters()">
        <p>wissen</p>
    </ion-button>
    <ion-button color="primary" *ngFor="let filter of filterHolder.filters" round small [fill]="filter.isActive() ? 'solid' : 'outline'" (click)="goToFilter(filter)">
        <p>{{filter.name}}</p>
        <p *ngIf="filter.isActive() && (filter.name !== 'Land' || !singleCountry) "> ({{filter.amountActive()}})</p>
        <span *ngIf="singleCountry && filter.name === 'Land'" [class]="selectedCountryIcon()"></span>
    </ion-button>
</div>
<!-- <ion-item *ngIf="totalfoundcompanies > 0" no-padding padding-left no-margin border-bottom color="secondary" class="companyamount">
        {{totalfoundcompanies}} BEDRIJVEN
    </ion-item> -->
<ion-list-header *ngIf="totalfoundcompanies > 0" no-padding padding-left no-margin border-bottom color="primary" class="companyamount">
    {{totalfoundcompanies}} Bedrijven gevonden
</ion-list-header>
<ion-list-header *ngIf="totalfoundcompanies === 0" no-padding padding-left no-margin border-bottom color="primary" class="companyamount">
    Geen bedrijven met deze zoekterm
</ion-list-header>

<ion-content class="outer-content">
    <ion-list>
        <div class="company-item" ion-item *ngFor="let company of foundcompanies" (click)="goToCompanyDetail(company)" no-padding no-margin padding-horizontal>
            <ion-row>
                <h4 bold>{{company.entity?.registered_company_name}}</h4>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p>
                        <span [class]="getCompanyCountryIcon(company)"></span> {{company.entity?.country_code.name}}, {{company.entity?.establishments[0].address.city}}
                    </p>
                </ion-col>
                <ion-col>
                    <p text-end icon-start>
                        <ion-icon ios="ios-card" md="md-card"></ion-icon>
                        {{company.entity?.company_registration_number}}</p>
                </ion-col>
            </ion-row>
        </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="LoadMoreCompanies($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>