<ion-app>
    <ion-menu side="start" menuId="creditreport">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Onderdelen</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item [routerLink]="['/tabs/portfolio/report/summary']">Samenvatting</ion-item>
                <ion-item [routerLink]="['/tabs/portfolio/report/annualoverview']">Jaaroverzichten</ion-item>
                <ion-item [routerLink]="['/tabs/portfolio/report/companyinfo']">Bedrijfsinfo</ion-item>
                <ion-item [routerLink]="['/tabs/portfolio/report/employees']">Werknemers</ion-item>
                <ion-item [routerLink]="['/tabs/portfolio/report/financialinfo']">Financiele info</ion-item>
                <ion-item [routerLink]="['/tabs/portfolio/report/profitandcosts']">Omzet & Kosten</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>