<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Werknemers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    {{report.company_id}}
</ion-content>