<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="portfolio">
            <ion-icon name="briefcase"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="inbox">
            <ion-icon name="mail"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="profile">
            <ion-icon name="contact"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>