<ion-button expand="full" (click)="Toggle()">{{yeardata.year}}</ion-button>
<ion-row class="animated nomarginvertical nopaddingleft" *ngIf="open">
    <ion-col col-5>
        <span>Nettowaarde</span>
    </ion-col>
    <ion-col col-7 text-right text-wrap>
        <span><b [innerHTML]="staticAmountHTML(yeardata.networth)"></b></span>
    </ion-col>
</ion-row>
<ion-row class="animated nomarginvertical nopaddingleft" *ngIf="open">
    <ion-col col-5>
        <span>Werkkapitaal</span>
    </ion-col>
    <ion-col col-7 text-right text-wrap>
        <span><b [innerHTML]="staticAmountHTML(yeardata.workcapital)"></b></span>
    </ion-col>
</ion-row>
<ion-row class="animated nomarginvertical nopaddingleft" *ngIf="open">
    <ion-col col-6>
        <span>Liquiditeitsratio</span>
    </ion-col>
    <ion-col col-6 text-right text-wrap>
        <span><b [innerHTML]="staticPercentageHTML(yeardata.liquidityratio)"></b></span>
    </ion-col>
</ion-row>