<ion-header>
    <ion-navbar color="secondary">
        <ion-title *ngIf="company">Samenvatting</ion-title>

    </ion-navbar>
</ion-header>

<ion-content>
    <ion-toolbar *ngIf="company" color="primary">
        <ion-row>
            <ion-col text-center class="vertical-align-content">
                <h4 ion-text color="superlight" id="companynameheader">{{company.entity.registered_company_name}}</h4>
            </ion-col>
            <ion-col text-center class="vertical-align-content">
                <button ion-button solid (click)="goToPayedDetails(company)" color="safe">Kredietscore inzien</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
    <ion-card text-wrap class="company-property">
        <ion-item>
            <ion-row *ngIf="company">
                <ion-col col-7>
                    <h2 ion-text color="primary">Adres</h2>
                    <p>{{company.entity.establishments[0].address.street}} {{company.entity.establishments[0].address.house_number}}, {{company.entity.establishments[0].address.city}}</p>
                    <p>{{company.entity.country_code.name}}</p>
                </ion-col>
                <ion-col col-5>
                    <h2 ion-text color="primary">Website</h2>
                    <p>{{company.entity.establishments[0]?.websites[0]?.url}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row *ngIf="company">
                <ion-col col-7>
                    <h2 ion-text color="primary">Branche</h2>
                    <p>test</p>
                </ion-col>
                <ion-col col-5>
                    <h2 ion-text color="primary">Rechtsvorm</h2>
                    <p>{{company.entity.business_entity.entity}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item>
            <ion-row *ngIf="company">
                <ion-col col-7>
                    <h2 ion-text color="primary">Registratienummer</h2>
                    <p>{{company.entity.company_registration_number}}</p>
                </ion-col>
                <ion-col col-5>
                    <h2 ion-text color="primary">Paylex-nummer</h2>
                    <p>{{company.entity.pidi.id}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-card>
    <div #map id="map"></div>
    <ion-list>
        <ion-row *ngIf="company">
            <ion-col>
                <ion-card text-center>
                    <ion-item text-center>
                        <h1>{{company.entity.amount_of_employees}}</h1>
                        <h3>WERKNEMERS</h3>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card text-center>
                    <ion-item text-center>
                        <h1>12</h1>
                        <h3>JAAR OUD</h3>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card text-center color="safe">
                    <ion-item text-center color="safe" class="item-fading">
                        <h2>Paylex-score</h2>
                        <h1>...</h1>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card text-center>
                    <ion-item text-center class="item-fading">
                        <h2>Wanbetaling</h2>
                        <h1>...</h1>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <button ion-button full color="secondary" (click)="goToPayedDetails()">Meer informatie</button>
    </ion-toolbar>
</ion-footer>