page-company-detail {
    #map {
        height: 20%;
    }
    // .scroll-content {
    //     overflow: hidden;
    // }
    .item-fading {
        opacity: 0.5;
    }
    .vertical-align-content>* {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    #companynameheader {
        margin-top: 1rem !important;
    }
}

.company-property {
    .label {
        margin: 0px;
    }
}

a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}