@font-face {
    font-family: 'icomoon';
    src: url('/assets/fonts/icomoon.eot?jhebr8');
    src: url('/assets/fonts/icomoon.eot?jhebr8#iefix') format('embedded-opentype'), url('/assets/fonts/icomoon.ttf?jhebr8') format('truetype'), url('/assets/fonts/icomoon.woff?jhebr8') format('woff'), url('/assets/fonts/icomoon.svg?jhebr8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg,
$val) {
    .custom-#{$arg}:before,
    .ion-ios-custom-#{$arg}:before,
    .ion-ios-custom-#{$arg}-outline:before,
    .ion-md-custom-#{$arg}:before,
    .ion-md-custom-#{$arg}-outline:before {
        content: $val;
        font-size: 26px;
    }
}

@include makeIcon(nofilter,
"\10ffff");