<ion-header>
    <ion-navbar>
        <ion-title>Searchresults</ion-title>
    </ion-navbar>
</ion-header>
<div #searchResult id="searchResult">
    <label>{{nomatchmessage}}</label>
    <ion-list *ngFor="let company of matchingCompanies" (click)="onSelect(company)" [class.selected]="company === selectedCompany">
        <ion-card>
            <ion-row>
                <ion-col>
                    {{company.branche}}
                </ion-col>
                <ion-col>
                    <ion-row>
                        <ion-icon name="md-people" item-start color="primary"></ion-icon>
                        <div>{{company.grootte}}</div>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-row>
                        <ion-icon name="md-globe" item-start color="primary"></ion-icon>
                        <div>{{company.land}}, {{company.vestigingsplaats}}</div>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-row>
                        <ion-icon name="md-star-outline" item-start color="primary"></ion-icon>
                        <div>{{company.volledigheid}}</div>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
</div>