// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
$font-path: "../assets/fonts";
$app-direction: ltr;
@import "theme/icons";
$colors: ( primary: #0093b4, secondary: #FECB6F, checkbox: #E84493, primary-button: #3FC0BE, third:#91d5dd, danger: #f53d3d, caution: #F79B7A, safe: #B2C283, light: #d8c0d4, superlight: rgb(255, 255, 255), dark: #222);
// @import "ionicons";
// @import "roboto";
// @import "noto-sans";