<!-- Generated template for the SearchbarComponent component -->
<ion-toolbar no-border-top>
    <ion-searchbar [(ngModel)]="filtertext" [showCancelButton]="true" (ionInput)=SetSearching() aria-placeholder="Search">
    </ion-searchbar>
</ion-toolbar>