<div *ngIf="!open" (click)="openCompany(this)" class="nomarginvertical">
    <ion-row>
        <ion-col>
            <h2>{{company.registered_company_name}}</h2>
            <p>Krediet toegestaan: 2.000.000</p>
        </ion-col>
        <ion-col text-center col-4>
            <circle-progress item-end [showUnits]="false" [showInnerStroke]="false" [clockwise]="false" [showSubtitle]="false" [titleFontSize]="10" [unitsFontSize]="5" [percent]="85" [radius]="25" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [outerStrokeColor]="'#0093b4'"
                [innerStrokeColor]="'#FECB6F'" [animation]="true" [animationDuration]="100"></circle-progress>
        </ion-col>
    </ion-row>
</div>

<div *ngIf="open" (click)="closeCompany()" class="nomarginvertical">
    <ion-row>
        <ion-col>
            <h2>{{company.registered_company_name}}</h2>
            <p>Krediet toegestaan: 2.000.000</p>
        </ion-col>
        <ion-col col-4>
            <div text-end>
                <span class="flag-icon flag-icon-nl flagsizefix"></span>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p>Andere data: bla</p>
            <p>Andere data: bla</p>
            <p>Andere data: bla</p>
            <p>Andere data: bla</p>
        </ion-col>
        <ion-col col-4>
            <div text-end>
                <circle-progress item-end [showUnits]="false" [showInnerStroke]="false" [clockwise]="false" [showSubtitle]="false" [titleFontSize]="10" [unitsFontSize]="5" [percent]="85" [radius]="25" [outerStrokeWidth]="4" [innerStrokeWidth]="4" [outerStrokeColor]="'#0093b4'"
                    [innerStrokeColor]="'#FECB6F'" [animation]="true" [animationDuration]="100"></circle-progress>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-button expand="full" (click)="GoToReport()">Kredietrapport</ion-button>
    </ion-row>
</div>