portfolio-company-item {
    .nomarginvertical {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        ion-label,
        circle-progress {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }
    -webkit-transition: height 2s;
    /* Safari */
    transition: height 2s;
    .flagsizefix {
        background-size: contain;
        height: 40px;
        width: 50px;
    }
}