<ion-title>
    Paylex</ion-title>

<ion-item>
    <h3>Kredietinformatie van alle bedrijven met Paylex</h3>

    <p>
        Begin direct met zoeken in onze database met ruim 6.750.000 bedrijven
    </p>
    <ion-searchbar [(ngModel)]="company" [showCancelButton]="true" (ionInput)=SearchCompany(company)>
    </ion-searchbar>
    <p>
        <button ion-button color="primary" menuToggle>Opties</button>
    </p>
    <textarea [(ngModel)]="searchResult">
    </textarea>
</ion-item>