<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button icon-left extent="full" color="secondary" [routerLink]="['/tabs/dashboard/search']">
                <ion-icon name="search"></ion-icon>
                Search</ion-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>