<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons left>
            <button ion-button color="superlight" (click)="cancelFilter()">Cancel</button>
        </ion-buttons>
        <ion-searchbar #searchbar [(ngModel)]="filtertext" [showCancelButton]="true">
        </ion-searchbar>
        <ion-buttons right>
            <button ion-button color="superlight" (click)="submitFilter()">Submit</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        {{selectedCountriesText()}}
    </ion-card>
    <ion-fab right bottom *ngIf="isFiltered()">
        <button ion-fab color="secondary" (click)="removeFilters()"><ion-icon name="trash"></ion-icon></button>
    </ion-fab>
    <ion-list *ngIf="filtertext">
        <ion-item *ngFor="let country of countries" [hidden]="!Match(country)">
            <ion-label>{{country.country.Name}}</ion-label>
            <ion-checkbox [(ngModel)]="country.selected"></ion-checkbox>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="!filtertext">
        <ion-item *ngFor="let country of countries">
            <ion-label>{{country.country.Name}}</ion-label>
            <ion-checkbox [(ngModel)]="country.selected"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>