<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons left>
            <button ion-button color="superlight" (click)="back()">Back</button>
        </ion-buttons>
        <ion-title text-center>Filter</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let filter of filters" text-wrap (click)="goToFilter(filter.name)">
        <h2>{{filter.name}}</h2>
        <h3 *ngIf="filter.selection !==''">{{filter.selection}}</h3>
        <h3 *ngIf="filter.selection ===''">All</h3>
    </ion-item>
</ion-content>