page-credit-report-financial-info {
    .white-text {
        color: #fff!important;
    }
    *,
    *:before,
    *:after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
    .valign-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    i {
        line-height: inherit;
    }
    .material-icons {
        text-rendering: optimizeLegibility;
        -webkit-font-feature-settings: 'liga';
        -moz-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
    }
    .container {
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
    }
    @media only screen and (min-width:601px) {
        .container {
            width: 85%;
        }
    }
    @media only screen and (min-width:993px) {
        .container {
            width: 70%;
        }
    }
     ::-webkit-input-placeholder {
        color: #d1d1d1;
    }
     ::-moz-placeholder {
        color: #d1d1d1;
    }
     :-ms-input-placeholder {
        color: #d1d1d1;
    }
     ::placeholder {
        color: #d1d1d1;
    }
    /*! CSS Used from: https://fonts.googleapis.com/icon?family=Material+Icons */
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
    /*! CSS Used from: https://fonts.googleapis.com/icon?family=Material+Icons */
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
    /*! CSS Used from: Embedded */
    .reputation {
        position: relative;
        margin: 50px auto;
    }
    .reputation div.flex {
        position: absolute;
        width: 100%;
        justify-content: space-between;
    }
    .reputation-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FECB6F;
        border-color: #FECB6F;
        position: relative;
    }
    .reputation-circle:first-child {
        background-color: #F79B7A;
        border-color: #F79B7A;
    }
    .reputation-circle:last-of-type {
        background-color: #B1C283;
        border-color: #B1C283;
    }
    .reputation-circle i {
        margin: auto;
        font-size: 2em;
    }
    .reputation-circle.active i {
        font-size: 3em;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
    }
    .reputation-circle.active {
        width: 50px;
        height: 50px;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
    }
    .reputation-circle.active:before {
        content: " ";
        position: absolute;
        z-index: 1;
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
        border-radius: 50%;
        border: 5px solid;
        border-color: inherit;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -o-transition: all 1s linear;
        transition: all 1s linear;
    }
    .gradient {
        background: #f79b7a;
        background: -moz-linear-gradient(left, #f79b7a 10%, #fecb6f 50%, #b1c283 90%);
        background: -webkit-linear-gradient(left, #f79b7a 10%, #fecb6f 50%, #b1c283 90%);
        background: linear-gradient(to right, #f79b7a 10%, #fecb6f 50%, #b1c283 90%);
    }
    #reputation .gradient {
        height: 10px;
        width: 95%;
        margin: auto;
    }
    @media only screen and (max-width: 768px) {
        .reputation {
            margin-bottom: 80px;
        }
    }
    /*! CSS Used fontfaces */
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
    }
    .gradient-reverse {
        background: #f79b7a;
        background: -moz-linear-gradient(right, #f79b7a 0%, #fecb6f 50%, #b1c283 100%);
        background: -webkit-linear-gradient(right, #f79b7a 0%, #fecb6f 50%, #b1c283 100%);
        background: linear-gradient(to left, #f79b7a 0%, #fecb6f 50%, #b1c283 100%);
        width: 100%;
        height: 40px;
        border-radius: 3em;
    }
    .cursor-wrapper {
        position: relative;
    }
    .cursor {
        width: 1px;
        background-color: #2D3436;
        height: 51px;
        left: 80%;
        position: absolute;
        display: block;
        z-index: 10;
        top: -41px;
    }
    .cursor:before {
        content: "";
        width: 11px;
        position: absolute;
        height: 1px;
        background: #2D3436;
        left: -5px;
    }
    @media only screen and (max-width: 768px) {
        .cursor-wrapper {
            width: 70%!important;
        }
    }
    .gradient-reverse.pointer {
        border-radius: 0!important;
        height: 13px!important;
        position: relative;
        overflow: hidden;
        width: 70% !important;
        margin: 10px auto -20px;
    }
    .gradient-reverse.pointer:after {
        content: "";
        width: 13px;
        height: 13px;
        position: absolute;
        background-color: inherit;
        border-radius: 50%;
        border: 1px solid #2D3436;
        left: calc(80% - 6px);
        box-shadow: 0 0 0 709px white;
    }
    @media only screen and (max-width: 768px) {
        .gradient-reverse.pointer {
            margin: 10px auto 0px;
        }
    }
}