<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Financiele info</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div id="reputation">
        <div class="valign-wrapper reputation container">
            <div class="flex valign-wrapper">
                <div id="reputation-bad" class="reputation-circle valign-wrapper">
                    <ion-col text-center>
                        <ion-icon class="material-icons white-text" name="md-close"></ion-icon>
                    </ion-col>
                </div>
                <div id="reputation-ok" class="reputation-circle valign-wrapper">
                    <ion-col text-center>
                        <ion-icon class="material-icons white-text" name="md-alert"></ion-icon>
                    </ion-col>

                </div>
                <div id="reputation-good" class="reputation-circle valign-wrapper">
                    <ion-col text-center>
                        <ion-icon class="material-icons white-text" name="md-checkmark"></ion-icon>
                    </ion-col>

                </div>
            </div>
            <div class="gradient"></div>
        </div>
        <div class="valign-wrapper safeAmount container">
            <div class="gradient-reverse"></div>
        </div>
        <div class="container cursor-wrapper">
            <div class="cursor"></div>
        </div>
        <div class="gradient-reverse pointer"></div>
    </div>

</ion-content>