page-dashboard {}

@-ms-viewport {
    height: device-height;
}

#searchResult {
    background: white;
    position: absolute;
    z-index: 3;
    //max-height: 50vh;
    width: 100%;
    top: 0;
    overflow-y: scroll;
}

#dashboardcontent {}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(119, 119, 119, 0.589);
}