<ion-header>
    <ion-navbar>

        <ion-title>My First List</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let company of companies" (click)="companyTapped($event, company)">
            <ion-card>
                <ion-row>
                    <ion-col>
                        {{company.branche}}
                    </ion-col>
                    <ion-col>
                        <ion-row>
                            <ion-icon name="md-people" item-start color="primary"></ion-icon>
                            <div>{{company.personeel}}</div>
                        </ion-row>
                    </ion-col>
                    <ion-col>
                        <ion-row>
                            <ion-icon name="md-globe" item-start color="primary"></ion-icon>
                            <div>{{company.country}}, {{company.plaats}}</div>
                        </ion-row>
                    </ion-col>
                    <ion-col>
                        <ion-row>
                            <ion-icon name="md-star-outline" item-start color="primary"></ion-icon>
                            <div>{{company.score}}</div>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card>
      <ion-icon name="{{company.icon}}" item-left></ion-icon>
      {{company.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
    </ion-list>
</ion-content>