<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Jaaroverzichten</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <annualfinance *ngFor="let yeardata of financialyears" [yeardata]="yeardata"></annualfinance>
    </ion-list>
</ion-content>