<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Samenvatting</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div id="cardholder">
        <ion-row>
            <ion-col>
                <ion-card text-center color="primary">
                    <div text-center>
                        <h2>Krediet-score</h2>
                    </div>
                    <div text-center>
                        <h1>{{report.entity.credit_scores[0].current_common_credit_rating}}</h1>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card text-center>
                    <div text-center>
                        <h1>{{report.entity.amount_of_employees}}</h1>
                    </div>
                    <div text-center>
                        <h3>Werknemers</h3>
                    </div>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card text-center>
                    <div text-center>
                        <h3>Actief sinds</h3>
                    </div>
                    <div text-center>
                        <h1>{{getYear(report.entity.incorporation_date)}}</h1>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

    </div>
    <div class="nomarginvertical nopaddingleft">
        <ion-row>
            <ion-col col-6>
                <span>Bedrijfsnaam</span>
            </ion-col>
            <ion-col col-6>
                <div text-right text-wrap><span><b>{{report.entity.registered_company_name}}</b></span></div>
            </ion-col>
        </ion-row>
    </div>
    <div class="nomarginvertical nopaddingleft">
        <ion-row>
            <ion-col col-6>
                <span>Telefoonnummer</span>
            </ion-col>
            <ion-col col-6>
                <div text-right text-wrap>
                    <span *ngIf="report.entity.establishments[0].address.telephone !== null; else novalue">
                        <b>{{report.entity.establishments[0].address.telephone}}</b>
                    </span>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <div class="nomarginvertical nopaddingleft">
        <ion-row>
            <ion-col col-6>
                <span>Rechtsvorm</span>
            </ion-col>
            <ion-col col-6 text-right text-wrap>
                <span><b>{{report.entity.legal_form}}</b></span>
            </ion-col>
        </ion-row>
    </div>
    <div class="nomarginvertical nopaddingleft">
        <ion-row>
            <ion-col col-6>
                <span>Datum vestiging</span>
            </ion-col>
            <ion-col col-6>
                <div text-right text-wrap>
                    <span><b>{{DateString(report.entity.company_registration_date)}}</b></span>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
<ng-template #novalue>-</ng-template>