page-credit-report {
    #cardholder {
        border-radius: 5px;
        background-color: map-get($colors, secondary);
        ion-card {
            * {
                background-color: map-get($colors, primary);
                color: white !important;
            }
        }
    }
}

.nopaddingleft {
    padding-left: 0px !important;
}

.withnewlines {
    white-space: pre-wrap;
}